<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
	<script src="../js/angular.min.js"></script>
	<script src="../js/angular-local-storage.min.js"></script>
	<script src="controller.js"></script>
	 	
	<link rel="stylesheet" type="text/css" href="/includes/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="/includes/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/includes/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/includes/js/comun.js"></script>
	<script type="text/javascript" src="/includes/js/general.js"></script>
	<script type="text/javascript">$(document).ready(function() { menu(); });</script>
</head>
	
<body ng-controller="ToDoController">
	<div id="nav_principal"></div>
	<div class="col-lg-2"></div><div class="col-lg-8" id="contenedor_errores"></div><div class="col-lg-2"></div>
	<div id="contenedor_general"></div>

	<ul>
		<li ng-repeat="actividad in todo">
			{{actividad.titulo}} - {{actividad.descripcion | date: 'short'}} - <a href="#" ng-click="removeActv(actividad)" style="color:red;">X</a>
		</li>

	</ul>
	<form ng-submit="addActv()">
		<input type="text" ng-model="newActv.titulo">
		<input type="text" ng-model="newActv.descripcion">
		<input type="submit" value="Guardar Actividad">
		<button ng-click="clean()">Limpiar</button>
	</form>
</body>
</html>